<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12">
            <h6>Image Upload</h6>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <input
            type="file"
            class="file-input"
            accept=".png, .jpg, .jpeg"
            (change)="onFileSelected($event)"
            (click)="onFileUploadClick()"
            #fileUpload
            />

            <div class="file-upload">
                {{ fileName || "No file uploaded yet." }}

                <button
                color="primary"
                class="btn btn-primary ms-2"
                (click)="fileUpload.click()"
                >
                Upload File
                </button>
            </div>
            <span *ngIf="!file" class="text-danger">{{fileMsg}}</span>
        </div>
        <div class="col-sm-4">
            <select (change)="onChange($event)" name="output tile" id="output" class="form-select">
                <option selected disabled>Select output type</option>
                <option value="base64">base64</option>
                <option value="file">File formate</option>
            </select>
            <span *ngIf="!fileOutputFormat" class="text-danger">{{message}}</span>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary" (click)="onUpload()">
                Click To Upload
            </button>
        </div>
    </div>
</div>
